<h1>Examples</h1>
<h2>Paragraph with common text attributes</h2>

<p>Lorem ipsum <strong>strong</strong> <bold>bold</bold> amet, <em>emphasis</em> adipiscing <i>italic</i>,dolor sit <a href="home">anchor link visited</a> amet, <a href="asdfjkl">anchor link unvisited</a> amet, <del>strikethrough</del> neque  elit, <span style="text-decoration: underline;">underline</span> amet, <code>code</code> amet.</p>

<hr />

<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>

<p>Lorem ipsum <strong>strong</strong> <bold>bold</bold>  dolor sit <a href="home">anchor link</a> amet, <del>strikethrough</del> neque <em>emphasis</em> adipiscing <i>italic</i> elit. Proin vel convallis massa. Etiam ultricies est nec neque facilisis volutpat. Vestibulum interdum odio et dictum fermentum. Donec at commodo ex, sit amet tempor turpis.<p>

<img src="/wp-includes/images/wpicons-2x.png" />

<p>Vestibulum in mi in nisl dictum elementum. Nullam pretium nibh mauris, id consectetur est convallis nec. Proin gravida mi sit amet eros commodo blandit. Integer blandit lorem sem, vel dapibus ligula maximus vel. Proin lorem felis, tincidunt non sem id, egestas imperdiet nibh. Suspendisse lorem odio, fermentum eget quam sit amet, ultricies auctor ante. Nulla facilisi. Etiam ac orci sed enim viverra posuere. Morbi luctus quam non ex laoreet fringilla.</p>

<ul>
<li>Unordered List</li>
<li>Lorem ipsum</li>
<li>Lorem ipsum</li>
<li>Lorem ipsum</li>
</ul>

<ol>
<li>Ordered List</li>
<li>Lorem ipsum</li>
<li>Lorem ipsum</li>
<li>Lorem ipsum</li>
</ol>

<pre>pre Lorem ipsum </pre>
<kbd>kbd Lorem ipsum </pre>

<form>
	<label>Label</label><input type="text" />
	<input type="submit" value="submit"/>
</form>

<button>Button</button>

<table>Table
<tr><td>column</td><td>column</td></tr>
<tr><td>row</td></tr>
<tr><td>row</td></tr>
<tr><td>column</td><td>column</td></tr>
</table>




